<div class="container">
  <div class="row">
    <div class="card text-dark shadow mb-3">
      <div class="text-center mx-auto p-3">
        <h2><a href="/post/{{id}}" id="postTitle">{{title}}</a></h2>
        <p>Created by {{user.name}} on {{format_date createdAt}}</p>
        <p id="postDescription">{{content}}</p>
      </div>
    </div>
  </div>
</div>