<div class="row mb-4 project card text-dark shadow">
    <div class="card-header">
        <h3>
            <a href="/blogPost/{{id}}">{{itle}}</a>
        </h3>
        <p>Created by
            {{user.name}}
            on
            {{format_date createdAt}}</p>
    </div>
    <div class="card-body">
        <p>{{content}}</p>
    </div>
</div>